<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Console Appender with Standard Pattern for Dev/Local -->
    <springProfile name="!prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- Production Profile: Structured Key-Value/JSON Logging Format -->
    <springProfile name="prod">
        <appender name="PROD_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%level","pid":"${PID:-}","thread":"%thread","logger":"%logger","message":"%replace(%msg){'[\r\n\t]+', ' '}","exception":"%replace(%xEx){'[\r\n\t]+', ' '}"}%n</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="PROD_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
